name: Build and Publish
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build-and-push-docker-image:
    name: Build Docker image and publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Generate GitHub App Token
        id: generate-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.MADGRADES_AUTOMATOR_APP_ID }}
          private-key: ${{ secrets.MADGRADES_AUTOMATOR_PRIVATE_KEY }}
          owner: madgrades

      - name: Login to Github Packages
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ steps.generate-token.outputs.token }}
      - name: Build image and push
        uses: docker/build-push-action@v2
        with:
          context: ./
          tags: |
            ghcr.io/madgrades/madgrades-data:latest
          push: ${{ github.ref == 'refs/heads/main' }}
